<h1>Articles</h1>
<% @articles.each do |article| %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <%=article.name%>
        </div>
        <div class="panel-body">
            by <%=article.author%>
        </div>
        <div class="panel-body">
            
        </div>
    </div>
<% end %>