$sidebar_background_color: rgb(255, 250, 249);
$a_sidebar_color: black;
$a_sidebar_color_hover: rgb(182, 189, 181);
$footer_background_color: black;
$footer_color: white;
$level_1_header_font_size: 30px;
$level_2_header_font_size: 20px;