    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="collapse  navbar-collapse" id="my_left_menu">
                    <ul class="nav my_sidebar">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Album</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="<%= articles_path %>">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <%= yield %>
            </div>
        </div>
    </div>